<h2>Add a Stylist:</h2>

<form action="/new-stylist" method="post">
  <div class="form-group">
    <input required placeholder="New Stylist Name" type="text" class="form-control" name="stylist" id="Stylist">
  </div>
  <div class="btn-wrap">
    <button id="submit-stylist" type="submit" class="btn btn-info">Submit</button>
  </div>
</form>
